<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="namoo.club.regist.persist.mybatis.mapper.ClubMapper">
    
    <insert id="insertClub" parameterType="Club" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO club (club_name, description, open_date, admin_id)
    	VALUES (
    		#{name}
    		,#{description}
    		,#{openDate}
    		,#{admin.towner.id}
    	)
    </insert>
    
    <update id="updateClub" parameterType="Club">
    	UPDATE club
    	SET 
    		club_name = #{name}, 
    		description = #{description},
    		admin_id = #{admin.id} 
    	WHERE club_id = #{id}
    </update>
    
    <delete id="deleteClub" parameterType="string">
    	DELETE FROM club WHERE club_id = #{clubId}
    </delete>
    
    <resultMap type="Club" id="result-club">
    	<id     property="id"              column="club_id"      javaType="string" />
    	<result property="name"            column="club_name"      javaType="string" />
    	<result property="description"     column="description"  javaType="string" />
    	<result property="openDate"        column="open_date"    javaType="date" />
    	<association property="admin" javaType="ClubAdmin">
    		<association property="towner" javaType="Towner">
    			<result property="id"      column="towner_id"     javaType="string" />
    			<result property="name"    column="towner_name"     javaType="string" />
    			<result property="email"   column="email"  javaType="string" />
    		</association>
    	</association>
    </resultMap>
    
    
    <select id="selectClub" parameterType="string" resultMap="result-club">
    	SELECT
    		c.club_id, c.club_name, c.description, c.open_date, 
    		t.towner_id, t.towner_name, t.email
    	FROM club c
    	LEFT JOIN towner t ON c.admin_id = t.towner_id
    	WHERE c.club_id = #{clubId}
    </select>
    
    <select id="selectClubByName" parameterType="string" resultMap="result-club">
    	SELECT
    		c.club_id, c.club_name, c.description, c.open_date, 
    		t.towner_id, t.towner_name, t.email
    	FROM club c
    	LEFT JOIN towner t ON c.admin_id = t.towner_id
    	WHERE c.club_name = #{clubName}
    </select>
    
    <select id="selectAllClubs" resultMap="result-club">
    	SELECT
    		c.club_id, c.club_name, c.description, c.open_date, 
    		t.towner_id, t.towner_name, t.email
    	FROM club c
    	LEFT JOIN towner t ON c.admin_id = t.towner_id
    </select>
    
    <select id="selectManagedClubs" parameterType="string"  resultMap="result-club">
    	SELECT
    		c.club_id, c.club_name, c.description, c.open_date, 
    		t.towner_id, t.towner_name, t.email
    	FROM club c
    	LEFT JOIN towner t ON c.admin_id = t.towner_id
    	WHERE t.email = #{email}
    </select>
    

</mapper>